[Unit]
Description=Smallweb
After=network.target


[Service]
Type=simple
ExecStart={{ .ExecPath }} up --cron
Restart=always
RestartSec=10
Environment="SMALLWEB_DIR={{ .SmallwebDir }}"

[Install]
WantedBy=default.target
