[Unit]
Description=Smallweb
After=network.target


[Service]
Type=simple
ExecStart={{ .ExecPath }} up
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
