[Unit]
Description=Smallweb
After=network.target


[Service]
Type=simple
ExecStart={{ .ExecPath }} serve
Restart=always
RestartSec=10
WorkingDirectory={{ .HomeDir }}

[Install]
WantedBy=default.target
